@model IEnumerable<ConsumirCli.Models.Fotos>

@{
    ViewBag.Title = "Fotos";
}

<h2>Fotos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlbumId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbnailUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbnailUrl)
        </td>
        <td>
            @Html.ActionLink("Comentarios", "Comentarios", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
